@page
@model LabOne.Pages.IndexModel

@{
    ViewBag.Title = "Home";
}

<p>
    <a asp-page="Years/List">Years</a>
</p>
<p>
    <a asp-page="Courses/List">Courses</a>
</p>
<p>
    <a asp-page="Teachers/List">Teachers</a>
</p>
<p>
    <a asp-page="Scholars/List">Scholars</a>
</p>
<p>
    <a asp-page="Levels/List">Levels</a>
</p>
<p>
    <a asp-page="Parallels/List">Parallels</a>
</p>